@import 'fonts.css';
@import 'animate.css';
@import 'lightbox.css';
@import '../js/slick/slick.css';
@import '../js/slick/slick-theme.css';
@import 'main.css';
@import 'responsive.css';

.address-price p{
    font-weight: 900;
}
.address-price a{
    float: none;
}

.decor_elem.palitra .decor-img{
    height: 130px;
}

.decor_elem.palitra .decor-wrap{
    width: 14%;
}
.decor_elem.no-bottom {
     border-bottom: 0;
     padding-bottom: 20px;
}

.decor_elem.palitra .decor-wrap h3 {
    font-size: 12pt;
}

.front {
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
}
h1.front {
    text-align: center !important;
    font-size: 36pt;
    padding: 0;
    margin-bottom: 100px;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
    font-weight: bolder;
}
h3.front {
    font-size: 26pt;
    padding: 0;
    margin: 0 0 10px 20%;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
}
#production > h2 {
    color: #031573;
    font-size: 28pt;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'HH', sans-serif;
    padding: 50px 0;
}

.about-content p.long:before {
    content: '';
    display: none;
}

.partners h2 {
    font-size: 42pt;
    padding: 50px 0 0;
    margin-bottom: 40px;
    box-sizing: border-box;
    color: #031573;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
}

footer h2 {
    font-size: 42pt;
    padding: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
}

footer h2 {
    font-size: 42pt;
    padding: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
}

.about h2 {
    font-size: 42pt;
    padding: 50px 0 0;
    margin-bottom: 40px;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
    text-align: center;
}

.about h3.short {
    font-size: 22pt;
    padding: 50px 0 0;
    margin-bottom: 40px;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'HB', sans-serif;
    position: relative;
}

.about-content.wide {
    width: 90%;
}
.about-content.wide h3 {
    text-align: center;
}
#image-close-up > div.pop-up-cont{
    width: 90%;
    height: 90%;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
}
div.close-pop-up{
    float: right;
    color: red;
    font-size: 4em;
    width: 5%;
    position: relative;
    line-height: 40px;
    padding: 0;
    text-align: right;
}
div.close-pop-up:hover{
    cursor: pointer;
}
.palitra .decor-img:hover{
    cursor: initial;
}
.mobile-about{
    display: none;
}
.mobile-about h3{
    font-size: 24pt;
    padding: 30px 20px 10px 20px;
    margin-bottom: 0;
}
@media only screen and (max-width: 680px)
{
    div.close-pop-up{
        font-size: 3em;
        line-height: 30px;
    }
}
@media only screen and (max-width: 520px)
{
    div.close-pop-up{
        line-height: 25px;
    }
}
@media only screen and (max-width: 450px)
{
    div.close-pop-up{
        line-height: 20px;
    }
}
@media only screen and (max-width: 380px)
{
    div.close-pop-up{
        font-size: 2em;
        line-height: 15px;
    }
}
@media only screen and (max-width: 450px)
{
    .about h2 {
        font-size: 24pt;
    }
    .about h3.short {
         font-size: 16pt;
         text-align: center;
    }
    .partners h2 {
        font-size: 36pt;
        text-align: center;
    }
    footer h2 {
        font-size: 36pt;
        text-align: center;
    }
    .footer-contact p{
        text-align: center;
    }
    #production > h2{
        font-size: 24pt;
    }
}
@media only screen and (max-width: 1023px)
{
    h3.front{
        display: none;
    }
    h1.front{
        font-size: 24pt;
    }
    .promo .promo-content {
        top: 60%;
    }
    .mobile-about{
        display: block;
        width: 100%;
        height: auto;
        background: #fafafa;
        padding: 30px 0 80px;
        box-shadow: 0 2px 5px rgba(0,0,0,.75);
    }
}
@media only screen and (max-width: 1024px)
{
    h3.front{
        font-size: 22pt;
    }
    h1.front{
        font-size: 24pt;
    }
}

/*request call button*/

.callback-bt {
    background:#38a3fd;
    border:2px solid #38a3fd;
    border-radius:50%;
    box-shadow:0 8px 10px rgba(56,163,253,0.3);
    cursor:pointer;
    height:76px;
    text-align:center;
    width:76px;
    position: fixed;
    right: 8%;
    bottom: 15%;
    z-index:999;
    transition:.3s;
    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;
    padding-top: 5px;
}

.callback-bt .text-call{
    height:76px;
    width:76px;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#38a3fd;
    opacity: 0;
    font-size: 0;
    position:absolute;
    right: 8px;
    top: 23px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
    font-size: 10px;
}
.callback-bt:hover i {
    display:none;
}

.callback-bt:hover {
    z-index:998;
    background:#fff;
    color:transparent;
    transition:.3s;
}
.callback-bt:hover i {
    color:#38a3fd;
    font-size:40px;
    transition:.3s;
}
.callback-bt i {
    color:#fff;
    font-size:45px;
    transition:.3s;
    line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
    0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
    }
    100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
    }
}@keyframes hoverWave {
     0% {
         box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
     }
     100% {
         box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
     }
 }

/* animations icon */

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}
/* end of request call button */