@font-face {
			font-family: "HB";
			src: url("../fonts/HelveticaBold.eot");
			src: url("../fonts/HelveticaBold.ttf")format("truetype"),
			url("../fonts/HelveticaBold.woff") format("woff"),;
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HM";
			src: url("../fonts/HelveticaMedium.eot");
			src: url("../fonts/HelveticaMedium.ttf")format("truetype"),
			url("../fonts/HelveticaMedium.woff") format("woff"),;
			font-style: normal;
			font-weight: normal;
	}


	@font-face {
			font-family: "HL";
			src: url("../fonts/HelveticaLight.eot"),
			url("../fonts/HelveticaLight.woff") format("woff"),
			url("../fonts/HelveticaLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HBL";
			src: url("../fonts/HelveticaBlack.eot"),
			url("../fonts/HelveticaBlack.woff") format("woff"),
			url("../fonts/HelveticaBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HR";
			src: url("../fonts/HelveticaRegular.eot"),
			url("../fonts/HelveticaRegular.woff") format("woff"),
			url("../fonts/HelveticaRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "HH";
			src: url("../fonts/HelveticaHeavy.eot"),
			url("../fonts/HelveticaHeavy.woff") format("woff"),
			url("../fonts/HelveticaHeavy.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "HT";
			src: url("../fonts/HelveticaThin.eot"),
			url("../fonts/HelveticaThin.woff") format("woff"),
			url("../fonts/HelveticaThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "HUL";
			src: url("../fonts/HelveticaUltraLight.eot"),
			url("../fonts/HelveticaUltraLight.woff") format("woff"),
			url("../fonts/HelveticaUltraLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}