*
{
  margin: 0;
  padding: 0;
  font-family: 'HL', sans-serif;
  letter-spacing: 1px;
  font-weight: 400; 
  text-decoration: none;
  color: #000;
  outline: none;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */  /* Firefox 1-3.6 */     
  border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track{ border-radius: 3px; width: 7px; background: #000;}
*::-webkit-scrollbar { width: 8px;}
*::-webkit-scrollbar-thumb { border-radius: 3px; background: #888;}
*::-webkit-inner-spin-button { -webkit-appearance: none; }

body{ overflow-x: hidden; }
a { cursor: pointer; color: #fff; }

.article, p { 
  font-size: 12pt;
  line-height: 1.5em; 
  text-align: justify;
  box-sizing: border-box;
  color: #000;
}

h3
{
  font-size: 42pt; 
  padding: 50px 0 0;
  margin-bottom: 40px;
  box-sizing: border-box; 
  color: #031573;
  letter-spacing: 2px; 
  text-align: left;
  font-family: 'HB', sans-serif;
  position: relative;
}
.lightboxOverlay { z-index: 99999; }
.lightbox { z-index: 100000; }

.anchor { position: absolute; top: -70px; }
.text {
  font-size: 11pt; 
  padding: 8px 20px; 
  border:  1px solid #000; 
  border-radius: 4px;
  box-sizing: border-box;
}

.container {
  left: 0; 
  right: 0; 
  margin: auto; 
  width: 1170px;
  padding: 0 15px;
  position: relative; 
  box-sizing: border-box;
  text-align: center;
}
.clear { clear: both; }

.all_btn{
  color: #031573;
  font-size: 14pt;
  padding: 20px 40px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-align: center;
  font-family: 'HBL', sans-serif;
}

.all_btn:before, .all_btn:after
{
    position: absolute;
    height: 100%;
    opacity: .3;
    width: 1px;
    content: '';
    background: #031573;
    transition: all 0.8s;
}

.all_btn:before
{
    left: 0px;
    top: 0px;
}

.all_btn:after
{
    right: 0px;
    bottom: 0px;
}

.all_btn:hover:before, .all_btn:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
button { 
  border: none; 
  cursor: pointer;
  background: none;
}
.flex { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.inp {
  display: block;
  width: 100%;
  margin: 10px auto;
  font-size: 12pt;
  padding: 10px 0;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid;
  resize: none;
}




@-webkit-keyframes menu_open{
  from {-webkit-transform: translateX(100%);transform: translateX(100%);}
  to { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes menu_open{
  from {-webkit-transform: translateX(100%);transform: translateX(100%);}
  to { -webkit-transform: translateX(0); transform: translateX(0); }
}

@-webkit-keyframes wrap_open{
  from {-webkit-transform: translateX(0);transform: translateX(0);}
  to { -webkit-transform: translateX(-48%); transform: translateX(-48%); }
}
@keyframes wrap_open{
  from {-webkit-transform: translateX(0);transform: translateX(0);}
  to { -webkit-transform: translateX(-48%); transform: translateX(-48%); }
}



/***WRAP***/
.wrap{
  width: 100%;
  position: relative; 
  transition: all .75s ease;
}
.wrap_anim {
  -webkit-transform: translateX(-50%); 
  transform: translateX(-50%);
}
.menu_anim {
  -webkit-transform: translateX(-100%); 
  transform: translateX(-100%);
}
/*.wrap_anim2 {
  
  -webkit-transform: translateX(0); transform: translateX(0);
  transition: all .8s ease;
}*/
/***FOOTER***/

footer {
  width: 100%;
  background: rgba(0,0,0,.85);
  padding: 50px 0;
}

footer.site-footer .container.flex{
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 25px;
}

.site-footer .container.flex .site-footer--location-list,
.site-footer .container.flex .map,
.site-footer .container.flex .footer-contact{
  width: calc(33.33% - 20px);
}

.site-footer--location-list h3{
  font-size: 22px;
  margin-bottom: 15px;
}

.site-footer--location-list .location-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: space-between;
}

.site-footer--location-list .location-list li{
  list-style: none;
  color: #fff;
  width: 48%;
  margin-bottom: 6px;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  line-height: 1.4;
}

footer p {
  color: #fff;
  text-align: left;
  margin-top: 10px;
}
footer h3, .contacts h3 {
  color: #fff;
  padding-top: 0;
  margin-bottom: 20px;
}

.footer-tel a, .footer-email a,.contacts-email a, .contacts-tel a {
  font-size: 12pt;
  line-height: 1.5em;
  text-align: justify;
  display: block;
 }
footer .all_btn { color: #fff; }
footer .all_btn:before, footer .all_btn:after { background: #fff; }

.map {
  width: 55%;
  height: 500px;
  border: none;
}

.footer-adress, .contacts-adress {
  text-align: center;
}

.footer-form input {
  display: block;
  width: 80%;
  margin: 10px 0;
  font-size: 12pt;
  padding: 10px 0;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid;
}

.footer-form input::-webkit-input-placeholder{
  font-style: italic;
  transition: all .3s;
}
.footer-form input:-ms-input-placeholder{
  font-style: italic;
  transition: all .3s;
}
.footer-form input::-ms-input-placeholder{
  font-style: italic;
  transition: all .3s;
}
.footer-form input::placeholder{
  font-style: italic;
  transition: all .3s;
}
.footer-form input:focus::-webkit-input-placeholder{
  font-style: normal;
  color: #eee;
}
.footer-form input:focus:-ms-input-placeholder{
  font-style: normal;
  color: #eee;
}
.footer-form input:focus::-ms-input-placeholder{
  font-style: normal;
  color: #eee;
}
.footer-form input:focus::placeholder{
  font-style: normal;
  color: #eee;
}
.footer-form button{
  display: block;
  margin-top: 20px;
}

.footer-form a{
  margin-top: 0;
}
/***HEADER***/

header {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 1px;
  padding: 10px 2%;
  box-sizing: border-box;
}

.header-logo
{
  position: relative;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  transition: all .8s;
}
.header-logo a{
  display: block;
  width: 160px;
  height: 120px;
  background: url(https://d3l3qn7kx5ewr2.cloudfront.net/wp-content/uploads/20190409122900/logo.png)no-repeat center/contain;
}

.logo
{
  display: block;
  width: 134px;
  height: 96px;
  background: url(https://d3l3qn7kx5ewr2.cloudfront.net/wp-content/uploads/20190409122900/logo.png)no-repeat center/contain;
  position: fixed;
  left: 2%;
  top: 0;
  transition: all .8s;
  z-index: 99999;
}

.open_menu,
.close_menu
{
  width: 36px;
  height: 36px;
  position: fixed;
  top: 26px; 
  right: 2%;
  cursor: pointer;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  transition: all .8s;
  z-index: 99999;
}

.open_menu
{
  background: url(https://d3l3qn7kx5ewr2.cloudfront.net/wp-content/uploads/20190409122902/menu.png)no-repeat right/contain;
  width: 125px;
  display: flex;
  align-items: center;
}

.close_menu { background: url(https://d3l3qn7kx5ewr2.cloudfront.net/wp-content/uploads/20190409122821/close.png)no-repeat right/contain; }

.close_menu { display: none; }

.open_menu span {
  color: #fff;
  font-size: 20pt;
  padding-right: 5px;
  margin-top: 3px;
  font-family: 'HH', sans-serif;

}

.open_menu:hover,
.close_menu:hover
{
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.logo-hide
{
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;

}

.menu-nav {
  width: 50%;
  height: 100vh;
  background: #000;
  padding: 10vh;
  line-height: 2.5;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: -50%;
  transition: all .75s ease;
  z-index: 99998;
}
.tlt2 {
  position: absolute; bottom: 0;
  text-align: center;
  width: 100%;
}
.menu-nav-wrap {
  flex-direction: column;
  height: 100%;
}
.menu-nav .all_btn {
  color: #fff;
  padding: 15px 0;
  display: block;
  width: 210px;
  margin: 0 auto;
}
.menu-nav .all_btn:before, .menu-nav .all_btn:after {
  background: #fff;
  width: 100%;
  height: 1px;
}
.menu-nav .all_btn:hover:before, .menu-nav .all_btn:hover:after
{
    opacity: 1;
    height: 100%;
    width: 1px;
}

/***PROMO***/

.promo {
  width: 100%;
  position: relative;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.slider {
  width:100%;
  position: relative;
}

.slider_section {
  width: 100%;
  height: 100vh;
  display: block;
  background-size: cover !important;
  background-position: center !important;
}
.slider_section:first-child, .slider_section:nth-child(4n){
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-transform: scale(1.1); transform: scale(1.1);
}
.slider_section:nth-child(4n-2), .slider_section:nth-child(4n-1){
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.slider_section:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,0,0,.3);
}
@-webkit-keyframes myMove {
  from { -webkit-transform: scale(1); transform: scale(1);}
  to { -webkit-transform: scale(1.1); transform: scale(1.1); }
}
@keyframes myMove {
  from { -webkit-transform: scale(1); transform: scale(1);}
  to { -webkit-transform: scale(1.1); transform: scale(1.1); }
}

.slider_section .slick-active {
  -webkit-animation: myMove 6s ease;
  -moz-animation: myMove 6s ease;
  -o-animation: myMove 6s ease;
  -ms-animation: myMove 6s ease;
  animation: myMove 6s ease;
}

.promo-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

svg.intro{
  width: 400px;
  height: 120px;

}
svg.intro .text-main {
  display: none;
}
svg.intro.go .text-main {
  font-family: 'HBL', sans-serif;
  font-size: 52pt;
  text-transform: uppercase;
  display: block;
  letter-spacing: 18px;
  text-align: center;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 25px;
  stroke-dashoffset: -260;
  stroke-dasharray: 260;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 4s ease-in-out forwards;
          animation: dash 4s ease-in-out forwards;
}
@-webkit-keyframes dash {
  100%{
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  100%{
    stroke-dashoffset: 0;
  }
}
.promo-content h2 span {
  font-size: 24pt;
  color: #fff;
  font-family: 'HT', sans-serif;
  text-shadow: 0 2px 5px rgba(0,0,0,.55);
  letter-spacing: 8px;
}

/***CATALOG***/

.catalog {
  width: 100%;
  height: auto;
  background: #fafafa;
  padding: 30px 0 80px;
  box-shadow: 0 2px 5px rgba(0,0,0,.75);
}

.catalog h4 {
  color: #031573;
  font-size: 20pt;
  margin-bottom: 25px;
  text-align: left;
  font-family: 'HH', sans-serif;
}
.catalog-wrap {
  margin-bottom: 40px;
  transition: all 0.3s;
}

.catalog-wrap:hover {
  background: #efefef;
}
.catalog-wrap:hover .catalog-img:before { opacity: 0; }
.catalog-wrap:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.catalog-img{
  width: 50%;
  height: 320px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.catalog-img:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  z-index: 50;
  transition: all .8s;
}

.catalog-img img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s;
}


.catalog-content {
  width: 45%;
  padding-right: 5%;
  box-sizing: border-box;
  text-align: left;
}

.catalog-wrap:nth-child(even) .catalog-content{
  padding-left: 5%;
}
.catalog-wrap:nth-child(odd) .catalog-content{
  order: 2;
}

.catalog-content p{
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}


.catalog-content p:before {
  content: '';
  display: block;
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/***ABOUT***/

.about {
  width: 100%;
  height: auto;
  padding: 30px 0 80px;
  background: url(https://d3l3qn7kx5ewr2.cloudfront.net/wp-content/uploads/20190409122841/fon.jpg) repeat;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.about:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(50,0,0,.8);
}

.about h3, .about p {
  color: #fff;
}

.about-wrap {
  margin-bottom: 40px;
}

.about-img{
  width: 50%;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.about-img img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s;
}
.about-img:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
  z-index: 50;
  transition: all .8s;
}
.about-img:hover:before { opacity: .1; }
.about-img:hover img{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-content{
  width: 45%;
}

.about-content p{
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;

}

.about-content p:before{
  content: '';
  display: block;
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://d3l3qn7kx5ewr2.cloudfront.net/wp-content/uploads/20190409122859/li.png) no-repeat center/contain;
}


/***PARTNERS***/

.partners {
  width: 100%;
  height: auto;
  position: relative;
  padding: 30px 0 80px;
  box-shadow: 0 2px 5px rgba(0,0,0,.75);
}

.partners-wrap {
  flex-wrap: wrap;
  position: relative;
}

.partners-img {
  width: 21%;
  height: 100px;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 20px;
}

.partners span {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .7s;
}

.partners span:hover{
  transform: scale(1.1);
}




/***COLLECTION*/

.collection{
  background: #fafafa;
  padding: 80px 0;
}

.collection .flex {
  flex-wrap: wrap;
}
.collection-wrap {
  width: 49.5%;
  margin-bottom: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.collection-wrap:hover .collection-img:before { opacity: 0; }
.collection-wrap:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.collection-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,.25); 
}

.collection-img:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  z-index: 50;
  transition: all .5s;
}
.collection-img img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .8s;
}

.collection-wrap-cont {
  font-size: 20pt;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  color: #fff;
  z-index: 100;
  font-family: 'HH',sans-serif;
}

/***PROMO-all***/


.promo-all {
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.promo-img {
  width: 100%;
  height: 60vh;
  position: relative;
}

.promo-img:before{
  content:'';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.2);
}

.promo-all-cont {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

.promo-all-cont h1, .promo-all-cont p {
  color: #fff;
}

.promo-all-cont h1 {
  font-size: 46pt;
  color: #fff;
  font-family: "HBL", sans-serif;
  text-shadow: 0 2px 5px rgba(0,0,0,.55);
}

.promo-all-cont p {
  font-size: 15pt;
  text-align: center;
  margin-top: 30px;
}


/***DECOR***/

.decor {
  width: 100%;
  height: auto;
  padding: 80px 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.10);
}

.decor .flex {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.decor-wrap {
  width: 31%;
  margin-bottom: 40px;
  margin-right: 25px;
}

.decor-img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  margin-bottom: 20px;
}
.decor-img img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .8s;
}
.decor-about{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  padding: 30px;
  opacity: 0;
  z-index: 50;
  transition: all .8s;
}
.decor-about .article{
  max-height: 100%;
  overflow-y: auto;
  font-size: 11pt;
  line-height: 1.3em;
  transition: all .8s;
  text-align: left;
  color: #fff;
  padding: 0 10px;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
.decor-about .article::-webkit-scrollbar { width: 2px;}
.decor-about .article::-webkit-scrollbar-thumb { background: #fff;}
.decor-img:hover .decor-about{
  opacity: 0;
}
.decor-img:hover{
  cursor: zoom-in;
}
.decor-img:hover .decor-about .article{
  -webkit-transform: scale(1);
          transform: scale(1);  
}
.decor-img:hover img{
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.decor-wrap h3 {
  color: #031573;
  font-size: 16pt;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  font-family: 'HH', sans-serif;
}

.download {
  padding: 80px 0;
  width: 100%;
  height: 500px;
  position: relative;
}

.download:before {
  content:'';
  width: 100%;
  height:100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.2);
}
.decor_elem{
  border-bottom: 1px solid #ddd;
  padding-bottom: 80px;
}
.decor_elem:last-child{ border: none; }
.decor_img{
  width: 100%;
  max-height: 400px;
  margin-bottom: 40px;
  overflow: hidden;
}
.decor_img img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.decor_elem h2{
  font-size: 42pt;
  margin-bottom: 40px;
  color: #031573;
  letter-spacing: 2px; 
  text-align: left;
  font-family: 'HB', sans-serif;
}
.decor a {
  font-size: 16pt;
  float: left;
  color: #031573;
  margin: 0;
  position: relative;
}
.decor a span {
  font-size: 16pt;
  color: #031573;
}
.decor a img {
  width: 20px;
  margin-right: 10px;
}
.decor a:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  display: block;
  background: #031573;
  opacity: .3;
  transition: all .3s;
}
.decor a:hover:before{
  width: 100%;
  opacity: 1;
}



/***CONTACTS***/

.contacts {
  padding: 80px 0;
  position: relative;
}

.contacts-wrap h3,  .contacts-wrap h4{ color: #031573; }
.contacts-wrap p { margin: 10px 0; font-size: 14pt; }
.contacts-wrap a { margin: 10px 0; color: #000; font-size: 14pt; }

.contacts-wrap h4 {
  text-align: left;
  font-family: 'HB', sans-serif;
  font-size: 16pt;
}

.contacts-map {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.contacts input {
  border-color: rgba(3,21,115,.3);
  color: #031573;
}
.contacts input:focus{
  border-color: rgba(3,21,115,1);
}


/***GALLERY***/
.gallery {
  width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10,10vw);
  grid-auto-rows: 30vh;
  grid-gap: 0px;
  grid-auto-flow: row dense;
}
  
  .gallery-item:first-child,
  .gallery-item:nth-child(8n+1),
  .gallery-item:nth-child(8n-4), 
  .gallery-item:nth-child(8n-1),
  .gallery-item:nth-child(8n){
    grid-column: span 3;
  }
  
  .gallery-item:nth-child(8n-6),
  .gallery-item:nth-child(8n-3)  {
    grid-column: span 4;
    grid-row: span 2;
  }
  
  .gallery-item:nth-child(8n-5),
  .gallery-item:nth-child(8n-2)
  {
    grid-column: span 3;
    grid-row: span 2;
  }

.gallery-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
}

.gallery-item:hover:before { opacity: 0; }

.gallery-item:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery-item{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gallery-item:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
  z-index: 50;
  transition: all .8s;
}

.gallery-item a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: 50;
  transition: all .8s;
}

.gallery-item img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s;
}

/*
.catalog-wrap {
  margin-bottom: 40px;
  transition: all 0.3s;
}

.catalog-wrap:hover {
  background: #efefef;
}
.catalog-wrap:hover .catalog-img:before { opacity: 0; }
.catalog-wrap:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.catalog-img:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  z-index: 50;
  transition: all .8s;
}

.catalog-img img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s;
}
*/


.sizer-1 {
  width: 50%;
  height: 307.2px;
}

.sizer-2 {
  width: 25%;
  height: 307.2px;
}

.sizer-3 {
  width: 25%;
  height: 153.6px;
}

.gallery-item{
  width: 100%;
  height: 100%;
}

.row-1 {
  width: 100%;
  height: 307.2px;
}

/***POP-UP***/

.pop-up{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 999999;
  display: none;
}

.pop-up-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  padding: 50px 60px;
  background: #111;
  box-shadow: 0 2px 5px rgba(0,0,0,.95);
  box-sizing: border-box;
}

.pop-up-cont p {
  font-size: 18pt;
  color: #fff;
  font-family: 'HH', sans-serif;
  line-height: 18pt;
}


/***SPINNER***/
.spinner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999999;
}
.spinner img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.error_inp
{
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
  color: #d20;
  padding: 15px;
}


.copy p
{
  font-size: 9pt;
  color: #888;
}



/***NEWS***/

.news {
  width: 100%;
  height: auto;
  background: #fafafa;
  padding: 55px 0 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.75);
}

.news .container{
  flex-wrap: wrap;
}

.news h4 {
  color: #031573;
  font-size: 20pt;
  margin-bottom: 25px;
  text-align: left;
  font-family: 'HH', sans-serif;
}
.news_wrap {
  margin-bottom: 40px;
  padding: 25px;
  transition: all 0.3s;
  flex-wrap: wrap;
  width: 49%;
}

.news_wrap:hover {
  background: #efefef;
}
.news_wrap:hover .news_img:before { opacity: 0; }
.news_wrap:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news_img{
  width: 100%;
  height: 320px;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,.25);  
}
.news_img:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  z-index: 50;
  transition: all .8s;
}

.news_img img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s;
}


.news_cont {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}


/*.news_wrap:nth-child(odd) .news_cont{
  padding-left: 5%;
}

.news_wrap:nth-child(even) .news_cont {
  order: 2;
}*/
 
.news_cont p{
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}


.news_content p:before {
  content: '';
  display: block;
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/***NEW***/

.promo-new {
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.promo-img {
  width: 100%;
  height: 60vh;
  min-height: 490px;
  position: relative;
}

.promo-img:before{
  content:'';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.55);
}

.promo-new-cont {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

.promo-new-cont h1 {
  color: #fff;
}

.promo-new-cont h1 {
  font-size: 46pt;
  color: #fff;
  font-family: "HBL", sans-serif;
  text-shadow: 0 2px 5px rgba(0,0,0,.55);
}

/***new***/

.new {
  padding: 30px 0 0;
  background: #fafafa;
}

.new_slider {
  background: #fafafa;
  padding-bottom: 65px;
}

.slider4 {
  width: 100%;
}

.slider4_wrap {
  height: 330px;
  padding: 10px;
  margin: 5px;
  transition: all .8s;
}

.slider4_wrap:hover{
  background: #efefef;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
 }

.slider4  span {
  display: block;
  height: 200px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,.25); 
}

.slider4  span:before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #000;
  opacity: .4;
  transition: all .8s;
}

.slider4 span:hover:before{
  opacity: 0;
}

.slider4 h4 {
    color: #031573;
    font-size: 14pt;
    margin-top: 20px;
    text-align: left;
    font-family: 'HH', sans-serif;
}



/***MODAL***/

.modal_wrap{
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(0,0,0,.5);
    display: none;
}
.form_modal{
    width: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    background: #0f0d0d;
    padding: 40px 60px;
    box-shadow: 0 3px 5px rgba(0,0,0,.75);
    max-height: 96vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px #000;
}

.form_modal h4 {
  color: #fff;
  font-size: 18pt;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'HH', sans-serif;
}

.form_modal .all_btn {
    display: block;
    width: 200px;
    margin: 25px auto 0;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.form_modal input::-webkit-input-placeholder,.form_modal textarea::-webkit-textarea-placeholder{
  font-style: italic;
  transition: all .3s;
}
.form_modal input:-ms-input-placeholder, .form_modal textarea::-ms-textarea-placeholder{
  font-style: italic;
  transition: all .3s;
}
.form_modal input::-ms-input-placeholder,.form_modal textarea::-ms-textarea-placeholder{
  font-style: italic;
  transition: all .3s;
}
.form_modal input::placeholder,.form_modal textarea::placeholder{
  font-style: italic;
  transition: all .3s;
}
.form_modal input:focus::-webkit-input-placeholder,.form_modal textarea:focus::-webkit-textarea-placeholder{
  font-style: normal;
  color: #eee;
}
.form_modal input:focus:-ms-input-placeholder,.form_modal textarea:focus:-ms-textarea-placeholder{
  font-style: normal;
  color: #eee;
}
.form_modal input:focus::-ms-input-placeholder,.form_modal textarea:focus::-ms-textarea-placeholder{
  font-style: normal;
  color: #eee;
}
.form_modal input:focus::placeholder,.form_modal textarea:focus::placeholder {
  font-style: normal;
  color: #eee;
}
.form_modal button{
  display: block;
  margin-top: 20px;
  color: #fff;
}

.form_modal .all_btn:before, .form_modal .all_btn:after {
    background: #fff;
}

.modal_desc { margin-top: 20px; font-size: 15pt; text-align: center; color: #fff; }

.modal_desc span { color: #fff; font-weight: bold; }

.text-wrap {
  width: 100%;
}
.text-wrap h3{
  text-align: center;
  margin-bottom: 20px;
}
.text-wrap p{
  text-align: left;
  line-height: 1.5em;
}
.text-wrap ul{
  text-align: left;
  margin-left: 1em;
  margin-bottom: 20px;
}
.text-wrap ul > li{
   text-align: left;
   margin-left: 5%;
  line-height: 1.5em;
}
.marg-bot-10 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 640px)
{
  .promo .promo-content{
    top: 40%;
  }
  h2.tlt2 {
    top: 90%;
  }

}
.promo-content h1.front{
  font-size: 32pt;
  margin: 0 auto 50px auto;
  max-width: 1024px;
}

.promo-content h3.front {
  font-size: 22pt;
  margin: 0 auto 15px auto;
  padding: 2px 20px 4px 60px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 40px;
  max-width: 920px;
}

h3.front:before{
  font:normal normal normal 20px/1 FontAwesome;
  content: '\f00c';
  display: block;
  position: absolute;
  top: 10px;
  left: 16px;
}


.menu-nav {
  width: 460px;
  padding: 90px 0 0 0;
  right: -460px;
}

.menu-nav-wrap {
  justify-content: flex-start;
}

.menu-nav .all_btn{
  width: 100%;
}

.close_menu {
  top: 26px;
}

.wrap_anim {
  -webkit-transform: translateX(-460px);
  transform: translateX(-460px);
}

@media only screen and (max-width: 1440px){
  .promo-content h1.front{
    font-size: 25pt;
  }

  .promo-content h3.front {
    font-size: 22pt;
  margin: 0 auto 10px auto;
    padding: 5px 20px 8px 60px;
  }
}

@media only screen and (max-width: 1023px){
  .menu-nav {
    width: 100%;
    right: -100%;
    padding: 10vh;
  }

  .menu-nav-wrap {
    justify-content: space-between;
  }

  .close_menu {
    top: 62px;
  }

  .menu-nav .all_btn {
    width: 210px;
  }
}
.site-content--header {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); /* for debugger, remove on prod */
  width: 100%;
  min-height: 96px;
}
.site-content--header-item.item-phone {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 0 150px;
  text-align: center;
}
a.item-phone--link {
  font-size: 26px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 32px;
  padding: 5px;
  margin-bottom: 5px;
  font-family: 'HH', sans-serif;
  opacity: 0.9;
  width: 13vw;
  min-width: 260px;
}
.site-content--header-item span.item-phone--operator-icon {
  margin-right: 4px;
}
.item-phone--operator-icon img {
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 1366px){
  a.item-phone--link {
    font-size: 14px;
    min-width: 180px;
  }
  .logo {
    height: 70px;
  }
  .open_menu, .close_menu {
    height: 25px;
  }
  .open_menu span {
    font-size: 18pt;
  }
  .site-content--header {
    min-height: 66px;
  }
}
@media only screen and (max-width: 1024px){
  #content.site-content{
    padding-top: 90px;
  }
  .site-content--header {
    position: fixed;
    top: 0;
    min-height: 90px;
    background: rgba(0, 0, 0, 0.85);
  }
  .logo {
    width: 110px;
    height: 90px;
  }
  .open_menu, .close_menu {
    top: 25px;
  }

  .site-footer .container.flex .map,
  .site-footer .container.flex .footer-contact{
    width: calc(50% - 20px);
  }
  .site-footer .container.flex .site-footer--location-list{
    order: -1;
    width: 100%;
  }

  .site-footer--location-list .location-list li{
    width: calc(33.33% - 20px);
  }
}
@media only screen and (max-width: 990px){
  .site-content--header-item.item-phone{
    flex-wrap: wrap;
  }
  a.item-phone--link{
    width: 50%;
    min-width: 165px;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 0;
  }
  .item-phone--operator-icon img {
    width: auto;
    height: 25px;
  }
}
@media only screen and (max-width: 767px){
  #content.site-content{
    padding-top: 120px;
  }
  .site-content--header {
    min-height: 120px;
    align-items: flex-end;
  }
  .site-content--header-item.item-phone{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0.2);
    padding: 4px 10px;
    min-height: 60px;
  }
  a.item-phone--link {
    font-size: 14px;
    min-height: 26px;
    width: auto;
    padding: 0 6px;
    min-width: 0;
    font-family: Arial, san-serif;
    margin-bottom: 0;
  }

  .site-footer .container.flex .site-footer--location-list,
  .site-footer .container.flex .map,
  .site-footer .container.flex .footer-contact{
    width: 100%;
  }
}

@media only screen and (max-width: 767px){
  .logo {
    width: 80px;height: 50px; top: 5px;
  }
  .logo-hide {
    -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1;
  }
  .open_menu, .close_menu{
    right: 15px;
    top: 10px;
  }
  .open_menu {
    width: 70px;
  }
  .open_menu span{
    display: none;
  }
}

@media only screen and (max-width: 570px){
  .site-footer--location-list .location-list li{
    width: calc(50% - 20px);
  }
}