*
{
  margin: 0; padding: 0;
}
    


@media only screen and (max-width: 1170px)
{   
  
    .container { width: 1024px; }
    /***header***/


  .gallery{ grid-auto-rows: 20vh; }
.decor-wrap { margin-right: 20px; }

/***NEW***/
.slider4_wrap {height: 325px;}
.slider4 .slick-prev {left: -10px;}
.slider4 .slick-next {right: -13px;}

}




@media only screen and (max-width: 1023px)
{ 
  
  .container { width: 768px; }

  /***header***/
  .menu-nav { width: 100%; right: -100%;  }


  /***promo***/
  .slider_section { height: 60vh;}

  /***CATALOG***/
.catalog h4{font-size: 16pt;}
.catalog-content {max-height: 320px;overflow: hidden;padding-top: 5%;padding-bottom: 5%;}

  /***GALLERY***/

.gallery {
  -ms-grid-columns: (25vw)[4];
      grid-template-columns: repeat(4,25vw);
}

.gallery-item:first-child,
.gallery-item:nth-child(8n+1),
.gallery-item:nth-child(8n-5), 
.gallery-item:nth-child(8n-1),
.gallery-item:nth-child(8n-2){
  grid-column: span 2;
  grid-row: span 1;
}

.gallery-item:nth-child(8n-6),
.gallery-item:nth-child(8n-3)  {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-item:nth-child(8n-4),
.gallery-item:nth-child(8n)
{
  grid-column: span 4;
  grid-row: span 2;
}


  /***DECOR***/
.decor .flex { justify-content: space-between; }
.decor-wrap { width: 47%; margin-right: 0;}

/***FOOTER***/

  /***CONTACTS*/
.contacts-wrap { width: 50%;}

  /***COLLECTIONS*/
.collection-wrap {width: 85%; margin: 10px auto;}
.promo-img {height: 40vh;}

/***NEWS***/

.news_wrap { padding: 15px ; width: 50%;}

/***NEW***/
.slider4_wrap {height: 330px;}
.slider4 h4 {margin-top: 10px;}


}




@media only screen and (max-width: 767px)
{
  h3 {font-size: 23pt;text-align: center; padding: 20px 0 0; margin-bottom: 30px;}
  article, p {font-size: 11pt; line-height: 1.3;} 
    .container { width: 568px; }

    .all_btn {padding: 15px 35px; font-size: 12pt;}
    .logo { width: 80px; height: 50px; top: 5px; }
    .open_menu, .close_menu { top: 12px; }

  /***header***/
  .menu-nav {height: 100vh; }
  .wrap_anim {
     -webkit-animation: wrap_open .8s 1;
            animation: wrap_open .8s 1;
    -webkit-transform: translateX(-50%); transform: translateX(-50%);
  }
  .wrap_anim2 {
     -webkit-animation: wrap_open2 .8s 1;
            animation: wrap_open2 .8s 1;
    -webkit-transform: translateX(0); transform: translateX(0);
  }
  .menu-nav .all_btn { padding: 10px 0; font-size: 11pt; width: 180px; }
  .menu-img, .close_menu { padding:0;}

   /***promo***/
.slider_section { height: 120vh;}

  /***PROMO***/
svg.intro.go .text-main {font-size: 35pt;}
svg.intro { width: 300px; }

  /***PROMO-ALL***/
.promo-img {height: 120vh;}
.promo-all-cont h1 {font-size: 25pt;}
.promo-all-cont p {font-size: 12pt;}

  /***GALLERY***/

.gallery {display: flex;flex-wrap: wrap;}

.gallery-item {width: 50%;}
/***DECOR****/
.decor_elem h2 { font-size: 32pt; margin-bottom: 20px; }

/***CATALOG***/
.catalog {padding: 30px 0 50px;}
.catalog-wrap { padding: 15px 0; margin-bottom: 0;}
.catalog-wrap{ flex-wrap: wrap; }
.catalog-img{ width: 100%; margin-bottom: 20px; height: 200px; }
.catalog-content { width: 100%;padding: 0; border-bottom: 1px solid #ddd; height: auto;}
.catalog-content:last-child {border-bottom: none;}
.border{border-bottom: 1px solid #ddd !important; }
.catalog-wrap:nth-child(even) .catalog-content {padding: 0; order: 2;}
.catalog-content h3 {font-size: 23pt;text-align: center; padding: 20px 0 0; margin-bottom: 30px;}
.catalog-content h4 {font-size: 14pt;text-align: center;}
.catalog-content p { margin-bottom: 20px;text-align: center;}
.catalog-content a {display: block; text-align: center; margin-bottom: 20px;}
.catalog-content .all_btn {font-size: 12pt;text-align: center; margin: 20px auto; display: block;}

/***ABOUT***/
.about {padding: 30px 0 50px;}
.about-content p {width: 100%;padding-left: 25px;}
.about-content p:before {left: -10px;}
.about-content {width: 95%; margin: auto;}
.about-wrap { flex-wrap: wrap; }
.about-img { width: 100%; height: 200px; }
.about-wrap:last-child .about-img{ order: 2; }
/***PARTNERS***/
.partners {padding: 30px 0 50px;}
.partners-wrap {flex-wrap: wrap;}
.partners-img {width: 49%;padding: 15px;}    
/***FOOTER***/
footer .flex {flex-wrap: wrap;}
.footer-contact,.contacts {width: 100%;}
.footer-tel a, .footer-email a, .contacts-tel a, .contacts-email a{ text-align: center; }
.footer-adress p, .contacts-adress p, .contacts-mode p {text-align: center;}
.footer-form input{margin: 10px auto;text-align: center;}
.footer-form button{ margin: 20px auto;}
.map {width: 100%; height: 300px; margin-top: 20px;}


  /***GALLERY***/
.gallery-item {height: 200px;}

  /***DECOR***/
.decor-img {height: 170px;}
.decor-wrap h2 { font-size: 18pt; }
.decor-about { padding: 15px; }


  /***CONTACTS*/
.contacts { padding: 50px 0;}
.contacts .flex {flex-wrap: wrap;}
.contacts-wrap {width: 100%;}
.contacts-map {width: 100%;position: relative;}
.contacts h4 {text-align: center; margin-top: 20px;}
.contacts-map {height: 300px !important;}

  
  /***COLLECTIONS*/
.collection-wrap {width: 90%; margin: 5px auto;}

.pop-up-cont { padding: 30px; }
.pop-up-cont p { font-size: 14pt; line-height: 14pt; }

.copy p { font-size: 8pt; text-align: center; }

/***NEWS***/
.news {padding:50px 0;}
.news_wrap { flex-wrap: wrap; padding: 15px 15px 0 15px; width: 100%;}
.news_img{ width: 100%; margin-bottom: 20px; height: 200px; }
.news_cont { width: 100%;padding: 0; border-bottom: 1px solid #ddd; height: auto;}
.news_cont:last-child {border-bottom: none;}
.border{border-bottom: 1px solid #ddd !important; }
.news_wrap:nth-child(odd) .news_cont {padding: 0; order: 2;}
.news_cont h3 {font-size: 23pt;text-align: center; padding: 20px 0 0; margin-bottom: 30px;}
.news_cont h4 {font-size: 14pt;text-align: center;}
.news_cont p { margin-bottom: 20px;text-align: center;}
.news_cont a {display: block; text-align: center; margin-bottom: 20px;}
.news_cont .all_btn {font-size: 12pt;text-align: center; margin: 20px auto; display: block;}

/***NEW***/
.promo-new-cont h1{ font-size: 25pt; }
.new_slider {padding: 0 0 35px;}
.slider4_wrap {height: 315px;}


/***MODAL***/

.form_modal {width: 400px;padding: 25px;}
.inp {width: 90%;margin: 3px auto;font-size: 10pt;padding: 5px 0;}
.form_modal .all_btn {margin: 15px auto 0; width: 190px;}
.form_modal h4 {font-size: 14pt; margin-bottom: 10px;}


}

@media only screen and (max-width: 567px)
{
    .container { width: 320px; }
  
  /***header***/  
  .menu-nav .all_btn { padding: 15px 0; font-size: 12pt; width: 210px; }
  .menu-nav { padding: 15vh 10vh; }

  /***promo***/
  .slider_section { height: 80vh;}
  .about-img, .catalog-img {height: 150px;} 
    /***FOOTER***/
.footer-contact h3 {font-size: 24pt;}
    /***PROMO-ALL***/
.promo-all-cont p {font-size: 10pt;}

    /***GALLERY***/
.gallery-item { width: 100%; height: 200px; }

    /***ABOUT***/
.about-content p {padding-left: 10px;}  
    /***DECOR***/

/***DECOR****/
.decor_elem { padding-bottom: 50px; }
.decor_elem h2 { text-align: center; }
.decor-wrap {width: 100%; margin-right: 0;} 
.decor-wrap h3 { margin: 20px 0; text-align: center;  } 
.decor a { float: none; }

    /***CONTACTS***/
.contacts-wrap h3 {font-size: 23pt;}

    /***COLLECTIONS*/
.promo-img {height: 80vh;}
.collection-wrap {width: 100%;}

    /***POPUP***/
.pop-up-cont { width: 80%; padding: 25px;  }

/***NEWS***/
.news_img {height: 150px;}

/***NEW***/

.slider4_wrap {height: 300px;}


/***MODAL***/
.form_modal {width: 290px;}
.form_modal .all_btn {width: 170px;}
.close {right: 10px;top: 10px;}
.form_modal h4 {font-size: 12pt;}

}